/*Colors android*/
/* line 7, ../scss/animate.scss */
.view-animate.ng-enter, .view-animate.ng-leave {
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease 0s;
  display: block;
  width: 100%;
  border-left: 1px solid black;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

/* line 22, ../scss/animate.scss */
.rtl .view-animate.ng-enter {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 25, ../scss/animate.scss */
.rtl .view-animate.ng-enter.ng-enter-active {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 28, ../scss/animate.scss */
.rtl .view-animate.ng-leave.ng-leave-active {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 32, ../scss/animate.scss */
.ltr .view-animate.ng-enter {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 35, ../scss/animate.scss */
.ltr .view-animate.ng-enter.ng-enter-active {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 38, ../scss/animate.scss */
.ltr .view-animate.ng-leave.ng-leave-active {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
