/*Colors android*/
/*Colors android*/
/* line 7, ../scss/search.scss */
#main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* line 14, ../scss/search.scss */
.search-field {
  margin: 10px auto;
  width: 90%;
  z-index: 300;
}

/* line 22, ../scss/search.scss */
#day-picker {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}
/* line 29, ../scss/search.scss */
#day-picker .btn {
  width: 100%;
}

/* line 34, ../scss/search.scss */
#search-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 40, ../scss/search.scss */
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/* line 51, ../scss/search.scss */
#results {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
}

/* line 59, ../scss/search.scss */
.movie-search-field {
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 0;
  -webkit-transform: translateY(-250px);
  -moz-transform: translateY(-250px);
  -ms-transform: translateY(-250px);
  -o-transform: translateY(-250px);
  transform: translateY(-250px);
}

/* line 65, ../scss/search.scss */
.movie-search-field.show-movie-name {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 70, ../scss/search.scss */
.city-search-field {
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 0;
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
}

/* line 76, ../scss/search.scss */
.city-search-field.show-city-name {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 81, ../scss/search.scss */
.input-group-addon.expand-search {
  left: 50%;
  padding: 0;
  position: absolute;
  margin-left: -25px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

/*Colors android*/
/* line 8, ../scss/menu.scss */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 25px;
  z-index: 500;
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
/* line 20, ../scss/menu.scss */
.menu .menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: #666666;
}
/* line 29, ../scss/menu.scss */
.menu .menu-bg .item-menu {
  height: 40px;
  line-height: 40px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
}
/* line 36, ../scss/menu.scss */
.menu .menu-bg .item-menu i.fa {
  margin: 0 10px;
}

/* line 43, ../scss/menu.scss */
.menu.away {
  left: -100%;
}

/*Colors android*/
/* line 7, ../scss/movie-result.scss */
.movie-list {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

/* line 13, ../scss/movie-result.scss */
.parent-movie-list {
  height: 100%;
}

/* line 17, ../scss/movie-result.scss */
.movie-result {
  /*width: calc(30% - 30px);
  width: -webkit-calc(30% - 30px);*/
  position: relative;
  height: 180px;
  width: 120px;
  margin: 10px;
  float: left;
  margin-right: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
}
/* line 28, ../scss/movie-result.scss */
.movie-result .movie-showtime:first-child {
  font-weight: 800;
}
/* line 32, ../scss/movie-result.scss */
.movie-result .movie-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
}
/* line 40, ../scss/movie-result.scss */
.movie-result .movie-title p {
  margin: 0;
  max-height: 160px;
  font-size: 15px;
  text-overflow: ellipsis;
  line-height: 20px;
  overflow: hidden;
}
/* line 50, ../scss/movie-result.scss */
.movie-result .movie-showtime-parent {
  position: absolute;
  padding: 5px;
  background-color: white;
  bottom: 0;
  width: 100%;
}
/* line 57, ../scss/movie-result.scss */
.movie-result .movie-showtime-parent .movie-showtime {
  font-size: 10px;
  float: left;
  margin-right: 8px;
}

/* line 65, ../scss/movie-result.scss */
.no-results {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  top: 50px;
  font-size: 30px;
  font-weight: 400;
}

/*rgba(200,200,200,1)*/
/*#eee*/
/* line 22, ../scss/loader.scss */
.spinner-square {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-top-width: 0;
  width: calc(200px / 2);
  height: calc(200px / 2);
  z-index: 600;
}

/* line 33, ../scss/loader.scss */
.square1 {
  left: 0;
  border-left-width: 0;
}

/* line 38, ../scss/loader.scss */
.square2 {
  right: 0;
  border-left-width: 0;
  border-right-width: 0;
}

/* line 44, ../scss/loader.scss */
.square3 {
  bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

/* line 51, ../scss/loader.scss */
.circle1, .circle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  z-index: 600;
}

/* line 61, ../scss/loader.scss */
.circle1 {
  width: calc(200px - 5px);
  height: calc(200px - 5px);
  margin-top: calc((200px - 5px) / -2);
  margin-left: calc((200px - 5px) / -2);
  border-radius: calc((200px - 5px) / 2);
}

/* line 69, ../scss/loader.scss */
.circle2 {
  width: calc(200px - 30px);
  height: calc(200px - 30px);
  margin-top: calc((200px - 30px) / -2);
  margin-left: calc((200px - 30px) / -2);
  border-radius: calc((200px - 30px) / 2);
}

/* line 80, ../scss/loader.scss */
.spinner-text {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0;
  left: 0;
  line-height: 200px;
  text-align: center;
  color: black;
  z-index: 600;
  font-weight: 600;
  font-size: 90px;
  text-shadow: 0 0 5px #fff;
}

/* line 96, ../scss/loader.scss */
.spinner-text.text1 {
  opacity: 0;
  animation: text-show 3s infinite 0s;
}

@keyframes text-show {
  /* line 102, ../scss/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 103, ../scss/loader.scss */
  50% {
    opacity: 0;
  }

  /* line 104, ../scss/loader.scss */
  100% {
    opacity: 0;
  }
}

/* line 96, ../scss/loader.scss */
.spinner-text.text2 {
  opacity: 0;
  animation: text-show 3s infinite 1s;
}

@keyframes text-show {
  /* line 102, ../scss/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 103, ../scss/loader.scss */
  50% {
    opacity: 0;
  }

  /* line 104, ../scss/loader.scss */
  100% {
    opacity: 0;
  }
}

/* line 96, ../scss/loader.scss */
.spinner-text.text3 {
  opacity: 0;
  animation: text-show 3s infinite 2s;
}

@keyframes text-show {
  /* line 102, ../scss/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 103, ../scss/loader.scss */
  50% {
    opacity: 0;
  }

  /* line 104, ../scss/loader.scss */
  100% {
    opacity: 0;
  }
}

/* line 114, ../scss/loader.scss */
.wrapper {
  position: relative;
  margin: 40px auto;
  background: #c8c8c8;
}

/* line 122, ../scss/loader.scss */
.wrapper, .wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 124, ../scss/loader.scss */
.wrapper {
  width: 200px;
  height: 200px;
}

/* line 129, ../scss/loader.scss */
.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: #6d6d6d;
  border: 5px solid rgba(0,0,0,0.5);
}

/* line 138, ../scss/loader.scss */
.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota 1s linear infinite;
}

/* line 147, ../scss/loader.scss */
.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
  animation-play-state: running;
}

/* line 151, ../scss/loader.scss */
.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa 1s steps(1, end) infinite reverse;
  border-left: none;
}

/* line 160, ../scss/loader.scss */
.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: opa 1s steps(1, end) infinite;
}

@keyframes rota {
  /* line 171, ../scss/loader.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 172, ../scss/loader.scss */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opa {
  /* line 176, ../scss/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 177, ../scss/loader.scss */
  50%, 100% {
    opacity: 0;
  }
}

/*Colors android*/
/* line 9, ../scss/movie.scss */
div#movie {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 17, ../scss/movie.scss */
div#movie .nav-tabs {
  height: 30px;
}
/* line 21, ../scss/movie.scss */
div#movie .nav-tabs li {
  position: absolute;
  width: 33%;
  height: 30px;
  text-align: center;
  border-right: solid thin black;
}
/* line 29, ../scss/movie.scss */
div#movie .nav-tabs li.desc {
  left: 0;
}
/* line 33, ../scss/movie.scss */
div#movie .nav-tabs li.showtime {
  left: calc(33% + 1px);
}
/* line 37, ../scss/movie.scss */
div#movie .nav-tabs li.reviews {
  right: 0;
}
/* line 41, ../scss/movie.scss */
div#movie .nav-tabs li.active {
  background-color: #e5e5e5;
}
/* line 46, ../scss/movie.scss */
div#movie div.movie-carousel {
  position: absolute;
  top: 30px;
  bottom: 0;
}
/* line 52, ../scss/movie.scss */
div#movie div.movie-carousel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 62, ../scss/movie.scss */
div#movie div.movie-carousel ul li {
  position: absolute;
  padding: 0;
  margin: 0;
  overflow: auto;
}
/* line 69, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-desc {
  left: 0;
}
/* line 73, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-desc .movie-poster {
  margin: 10px;
  height: 160px;
  float: left;
}
/* line 79, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-desc .movie-title {
  font-weight: 800;
  margin-top: 20px;
}
/* line 85, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-showtimes {
  background: #4986e7;
  left: calc(100% / 3);
  bottom: 0;
  top: 0;
}
/* line 92, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-reviews {
  background: #d06b64;
  left: calc(100% * (2 / 3));
  bottom: 0;
  top: 0;
}
/* line 101, ../scss/movie.scss */
div#movie div.movie-carousel.animate {
  -webkit-transition: all 0.5s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/*Colors android*/
/* line 7, ../scss/animate.scss */
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  width: 100%;
  border-left: 1px solid black;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

/* line 22, ../scss/animate.scss */
.rtl .view-animate.ng-enter {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 25, ../scss/animate.scss */
.rtl .view-animate.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 28, ../scss/animate.scss */
.rtl .view-animate.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 32, ../scss/animate.scss */
.ltr .view-animate.ng-enter {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 35, ../scss/animate.scss */
.ltr .view-animate.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 38, ../scss/animate.scss */
.ltr .view-animate.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 12, ../scss/cineshowtime.scss */
html {
  height: 100%;
}

/* line 16, ../scss/cineshowtime.scss */
body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-size: 14px;
}

/* line 23, ../scss/cineshowtime.scss */
body.light {
  background-color: white;
  color: #40210d;
}

/* line 28, ../scss/cineshowtime.scss */
body.dark {
  background-color: black;
  color: #e5e5e5;
}

/* line 33, ../scss/cineshowtime.scss */
#content {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

/* line 41, ../scss/cineshowtime.scss */
nav.navbar {
  background-color: #b81e03;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
}
/* line 47, ../scss/cineshowtime.scss */
nav.navbar .sliding-menu-icon {
  font-size: 25px;
  line-height: 50px;
  color: #e5e5e5;
}
/* line 53, ../scss/cineshowtime.scss */
nav.navbar img {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
}
/* line 62, ../scss/cineshowtime.scss */
nav.navbar a {
  position: absolute;
  left: 50px;
  top: 0;
}
/* line 68, ../scss/cineshowtime.scss */
nav.navbar a:link {
  color: #e5e5e5;
}
/* line 69, ../scss/cineshowtime.scss */
nav.navbar a:visited {
  color: #e5e5e5;
}
/* line 70, ../scss/cineshowtime.scss */
nav.navbar a:hover {
  color: #e5e5e5;
}
/* line 71, ../scss/cineshowtime.scss */
nav.navbar a:active {
  color: #e5e5e5;
}
/* line 73, ../scss/cineshowtime.scss */
nav.navbar #menu, nav.navbar #favBtn, nav.navbar #searchBtn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e5e5e5;
}
/* line 81, ../scss/cineshowtime.scss */
nav.navbar #menu {
  border-left-width: 1px;
  border-left-color: #e5e5e5;
  border-left-style: solid;
}
/* line 87, ../scss/cineshowtime.scss */
nav.navbar #favBtn, nav.navbar #searchBtn {
  position: absolute;
  right: 50px;
}
