/*Colors android*/
/* line 7, ../scss/movie-result.scss */
.movie-list {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

/* line 13, ../scss/movie-result.scss */
.parent-movie-list {
  height: 100%;
}

/* line 17, ../scss/movie-result.scss */
.movie-result {
  /*width: calc(30% - 30px);
  width: -webkit-calc(30% - 30px);*/
  width: 120px;
  margin: 10px;
  height: -webkit-calc(100% - 20px);
  float: left;
  margin-right: 20px;
  border-style: solid;
  border-width: 1px;
}
/* line 28, ../scss/movie-result.scss */
.movie-result .movie-title + .movie-showtime {
  font-weight: 800;
}

/* line 33, ../scss/movie-result.scss */
.no-results {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  top: 50px;
  font-size: 30px;
  font-weight: 400;
}
