/*Colors android*/
/* line 9, ../scss/movie.scss */
div#movie {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 17, ../scss/movie.scss */
div#movie div.nav-tabs li {
  width: 33%;
  height: 30px;
}
/* line 23, ../scss/movie.scss */
div#movie div.movie-carousel {
  position: relative;
  top: 30px;
  height: 100%;
}
/* line 29, ../scss/movie.scss */
div#movie div.movie-carousel ul {
  padding: 0;
  margin: 0;
}
/* line 33, ../scss/movie.scss */
div#movie div.movie-carousel ul li {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 42, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-desc .movie-poster {
  height: 100px;
  float: left;
}
/* line 48, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-showtimes {
  background: #4986e7;
}
/* line 51, ../scss/movie.scss */
div#movie div.movie-carousel ul .movie-reviews {
  background: #d06b64;
}
/* line 57, ../scss/movie.scss */
div#movie div.movie-carousel.animate {
  -webkit-transition: all 3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}
