/*Colors android*/
/* line 6, ../scss/search.scss */
#main {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
}

/* line 13, ../scss/search.scss */
.search-field {
  margin: 10px auto;
  width: 90%;
}

/* line 20, ../scss/search.scss */
#day-picker {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}
/* line 27, ../scss/search.scss */
#day-picker .btn {
  width: 100%;
}

/* line 32, ../scss/search.scss */
#search-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 38, ../scss/search.scss */
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

/* line 46, ../scss/search.scss */
#results {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
}
