/*Colors android*/
/* line 7, ../scss/search.scss */
#main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* line 14, ../scss/search.scss */
.search-field {
  margin: 10px auto;
  width: 90%;
  z-index: 300;
}

/* line 22, ../scss/search.scss */
#day-picker {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}
/* line 29, ../scss/search.scss */
#day-picker .btn {
  width: 100%;
}

/* line 34, ../scss/search.scss */
#search-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 40, ../scss/search.scss */
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/* line 51, ../scss/search.scss */
#results {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
}

/* line 59, ../scss/search.scss */
.movie-search-field {
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 0;
  -webkit-transform: translateY(-250px);
  -moz-transform: translateY(-250px);
  -ms-transform: translateY(-250px);
  -o-transform: translateY(-250px);
  transform: translateY(-250px);
}

/* line 65, ../scss/search.scss */
.movie-search-field.show-movie-name {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 70, ../scss/search.scss */
.city-search-field {
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 0;
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
}

/* line 76, ../scss/search.scss */
.city-search-field.show-city-name {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 81, ../scss/search.scss */
.input-group-addon.expand-search {
  left: 50%;
  padding: 0;
  position: absolute;
  margin-left: -25px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
