<div id="main">
	<map center="map.center" zoom="map.zoom"></map>
	
	<i ng-click='expandSearch()' class="fa fa-search search-icon input-group-addon expand-search" ng-show="showBtnSearchExpand"></i>	
	<div class='input-group search-field city-search-field {{validCityClass}} {{visibilityCityName}}'>
		<i ng-click='search()' class="fa fa-search search-icon input-group-addon"></i>
		<input ng-keyup='keyUp($event)' placeholder='Ville...' type='text' id='city' ng-model='cityName' class="form-control"/>
		<div ng-click='gpsSearch()' class="input-group-addon"><i class="fa fa-map-marker"></i></div>
	</div>
	<div class='input-group search-field movie-search-field {{validMovieClass}} {{visibilityMovie}}'>
		<input placeholder='Film...' type='text' id='movie' ng-model='movieName' class="form-control"/>
		<div ng-click='dayChoice()' class="input-group-addon"><i class="fa fa-calendar"></i></div>
	</div>
	<div ng-show="showError" class="alert alert-danger search-field">{{errorText}}</div>
	<div id="results" ng-controller="ResultCtrl" >

		<loader ng-show="showLoad"></loader>
		<movie-list ng-show='showResults' movie-list="showtimeList"></movie-list>
		<div ng-show='showNoResults' class='no-results'>
			No Results		
		</div>
		<div ng-show='showError' class='error-results'>
			Error	
		</div>
	</div>	
	
</div>