
/*Colors android*/
$action-bar : #CC0000;

$light-color-text : #444444;
$dark-color-text : #CCCCCC;

$light-bg-color : #f3f3f3;
$dark-bg-color : #000000;

$background_holo_dark : #000000;
$background_holo_light : #f3f3f3;
$bright_foreground_disabled_holo_dark : #4c4c4c;
$bright_foreground_disabled_holo_light : #b2b2b2;
$dim_foreground_holo_dark : #bebebe;
$dim_foreground_disabled_holo_dark : #bebebe;
$dim_foreground_inverse_holo_dark : #323232;
$dim_foreground_inverse_disabled_holo_dark : #323232;
$hint_foreground_holo_dark : #808080;
$dim_foreground_holo_light : #323232;
$dim_foreground_disabled_holo_light : #323232;
$dim_foreground_inverse_holo_light : #bebebe;
$dim_foreground_inverse_disabled_holo_light : #bebebe;
$hint_foreground_holo_light : #808080;
$highlighted_text_holo_dark : #33b5e5;
$highlighted_text_holo_light : #33b5e5;
$link_text_holo_dark : #5c5cff;
$link_text_holo_light : #0000ee;