@charset "UTF-8";
@import "compass";

$color-progress : #6D6D6D; /*rgba(200,200,200,1)*/
$color-bg : rgba(200,200,200,1); /*#eee*/
$square-size : 170px;
$color-circle : white;
$circle-width : 2px;
$circle1-margin : 5px;
$circle-size1 : calc(#{$square-size} - #{$circle1-margin});
$circle-margin1 : calc((#{$square-size} - #{$circle1-margin}) / -2);
$circle-radius1 : calc((#{$square-size} - #{$circle1-margin}) / 2);
$circle2-margin : 30px;
$circle-size2 : calc(#{$square-size} - #{$circle2-margin});
$circle-margin2 : calc((#{$square-size} - #{$circle2-margin}) / -2);
$circle-radius2 : calc((#{$square-size} - #{$circle2-margin}) / 2);
$font-size : 90px;
$color-text : black;
$color-border : black;


  .spinner-square{
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: $color-border;
    border-top-width: 0;
    width: calc(#{$square-size} / 2);
    height: calc(#{$square-size} / 2);
    z-index: 600;
  }

  .square1{
    left: 0;    
    border-left-width: 0;
  }

  .square2{
    right: 0;    
    border-left-width: 0;
    border-right-width: 0;
  }

  .square3{
    bottom: 0;    
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  .circle1, .circle2{
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: $circle-width;
    border-color: $color-circle;
    z-index : 600;
  }

  .circle1{
    width: $circle-size1;
    height: $circle-size1;
    margin-top: $circle-margin1;
    margin-left: $circle-margin1;
    border-radius: $circle-radius1;
    }

  .circle2{
    width: $circle-size2;
    height: $circle-size2;
    margin-top: $circle-margin2;
    margin-left: $circle-margin2;
    border-radius: $circle-radius2;
  }

  
  

  .spinner-text{
    position: absolute;
    height: $square-size;
    width: $square-size;
    top: 0;
    left: 0;
    line-height: $square-size;
    text-align: center;
    color: $color-text;
    z-index: 600;
    font-weight: 600;
    font-size: $font-size;
    text-shadow: 0 0 5px #fff;
  }
  
@mixin text-anim($item, $duration, $delay) {
  #{$item}{
    opacity: 0;
    animation : text-show $duration + s infinite $delay + s;
  }

  @keyframes text-show {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
  }

}


@include text-anim('.spinner-text.text1', 3, 0);
@include text-anim('.spinner-text.text2', 3, 1);
@include text-anim('.spinner-text.text3', 3, 2);

.wrapper {
  position: relative;
  margin: 10px auto;
  background: $color-bg;  
}


@mixin timer($item, $duration, $size, $color, $border, $hover: running) {
  #{$item}, #{$item} * { @include box-sizing(border-box); }

  #{$item} { 
    width: $size;
    height: $size;
  }

  #{$item} .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: $color;
    border: #{$border};
  }

  #{$item} .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota $duration + s linear infinite;
  }

  #{$item}:hover .spinner,
  #{$item}:hover .filler, 
  #{$item}:hover .mask {
    animation-play-state: $hover;    
  }

  #{$item} .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0; 
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa $duration + s steps(1,end) infinite reverse;
    border-left: none;
  }

  #{$item} .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    animation: opa $duration + s steps(1,end) infinite;
  }

  @keyframes rota {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
}

@include timer('.wrapper', 1, $square-size, $color-progress, '5px solid rgba(0,0,0,0.5)');
