@charset "UTF-8";
@import "compass";
@import "compass/css3/transition";
@import "color";
@import "vars";

#main{
	position: absolute;
	width: 100%;
	top: $action-bar-height;
	bottom: 0;
}

.search-field{
	margin : 10px auto;
	width: 90%;

	
}

#day-picker{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	display: block;

	.btn{
		width: 100%;
	}
}

#search-btn{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#map-canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#results{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
}

.movie-search-field{
	@include single-transition(all, 1s, ease, 0s);
	opacity: 0;	
}

.movie-search-field.show-movie-name{
	opacity: 1;	
}