@charset "UTF-8";
@import "compass";
@import "compass/css3/transition";
@import "color";
@import "vars";

#main{
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
}

#search{
	position: absolute;
	width: 100%;
	height: 50%;
}

.search-field{
	margin : 10px auto;
	width: 90%;
	z-index: 300;

	
}

#day-picker{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	display: block;

	.btn{
		width: 100%;
	}
}

#search-btn{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#map-canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#results{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
}

.movie-search-field{
	@include single-transition(all, 1s, ease, 0s);
	opacity: 0;	
	@include translateY(-250px);
}

.movie-search-field.show-movie-name{
	opacity: 1;	
	@include translateY(0px);
}

.city-search-field{
	@include single-transition(all, 1s, ease, 0s);
	opacity: 0;	
	@include translateY(-200px);
}

.city-search-field.show-city-name{
	opacity: 1;	
	@include translateY(0px);
}

.input-group-addon.expand-search{
	left: 50%;
	padding: 0;
	position: absolute;
	margin-left: -25px;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.theater-unlocate-indicator.input-group-addon{
	position: absolute;
	height: 30px;
	width: 40px;
	right: 0;
	bottom: 35px;
	bottom: 35px;
}

.theater-unlocate-parent{
	position: absolute;
	height: 100px;
	width: 200px;
	right: 0;
	bottom: 35px;
	bottom: 35px;
	overflow-y: auto;
	background-color: $light-grey-color;

	.theater-unlocate-title{
		font-size: 15px;
		text-align: center;
		border-bottom: 2px solid black;

		i{
			text-align: right;
			margin-right: 5px;
			margin-left: 20px;
		}
	}

	.theater-unlocate{
		border-bottom: thin solid black;
		height: 25px;
	}
}
